<main class="py-6 bg-surface-secondary">
    <div class="container">

        <!-- Intro Section -->
        <section class="h-100 p-4 bg-body-tertiary border rounded-3 mb-3 text-center">
            <h1><span class="text-danger">Report Lists</span> - Power BI</h1>
            <p class="text-pretty">With Report Lists, users can efficiently manage and navigate through a collection of reports, enhancing
                productivity and facilitating data-driven decision-making.</p>
        </section>

        <!-- Reporting Table Section -->
        <section class="row mb-5">
            <!-- Report Aging Table -->
            <div class="col-12">
                <table mat-table [dataSource]="dataSource"
                    class="mat-elevation-z8 table table-striped table-hover table-bordered border caption-top">
                    <caption>List of Reports</caption>
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                        <th mat-header-cell *matHeaderCellDef class="align-middle fw-bold">{{ column }}</th>
                        <td mat-cell *matCellDef="let report" class="align-middle">
                            <ng-container *ngIf="column !== 'Report Link'; else reportLink">
                                {{ report[column] }}
                            </ng-container>
                            <ng-template #reportLink>
                                <a href="javascript:void(0)" (click)="openLink(report['Report Link'])">{{ report[column]
                                    }}</a>
                            </ng-template>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let reportrow; columns: displayedColumns"></tr>
                </table>

                <mat-paginator #paginator [pageSizeOptions]="pageSizes1" showFirstLastButtons></mat-paginator>
            </div>
        </section>

    </div>
</main>