.tab {
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}
.margin-left-50{
    margin-left: 30px;
}
.full-width {
    font-size: 14px;
    width: 50%;
}

.main{
    display: flex;
}