<main class="py-6 bg-surface-secondary">
    <div class="container">

        <!-- Intro Section -->
        <section class="h-100 p-4 bg-body-tertiary border rounded-3 mb-3 text-center">
            <h1>Welcome to our Reporting Platform!</h1>
            <p class="text-pretty">At Insights Governance, we provide powerful reporting solutions to help you make
                informed decisions. Our
                platform empowers you with comprehensive insights into your data, enabling you to drive business growth
                and efficiency.</p>
        </section>

        <!-- Dashboard Stats Section -->
        <section class="row mb-5">
            <div class="col-md-12">
                <h3 class="text-center mb-3 font-roboto">
                    <div class="title-text">
                        <span class="text-danger">Dashboard</span>
                    </div>
                </h3>
            </div>
            <div class="col-12">
                <div class="row justify-content-center gap-3">
                    <div class="col-md-2 mb-3 d-flex align-items-stretch justify-content-center">
                        <div class="card">
                            <a href="dashboard/powerbi">
                                <img src="../../../assets/logo-powerbi.jpg" class="card-img-top" alt="Card Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3 d-flex align-items-stretch justify-content-center">
                        <div class="card">
                            <a href="dashboard/ssrs">
                                <img src="../../../assets/logo-ssrs.jpg" class="card-img-top" alt="Card Image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>